{% macro breadcrumb() %}
<div class="breadcrumb">
  <a href="#" class="breadcrumb__link">NHS Digital</a>
  <img src="/images/icon-arrow.png" alt="Right arrow icon" class="breadcrumb__sep"/>
  <a href="#" class="breadcrumb__link">Nav level 1</a>
  <img src="/images/icon-arrow.png" alt="Right arrow icon" class="breadcrumb__sep"/>
  <a href="#" class="breadcrumb__link">Nav level 2</a>
  <img src="/images/icon-arrow.png" alt="Right arrow icon" class="breadcrumb__sep"/>
  <span class="breadcrumb__link breadcrumb__link--secondary">Nav level 3</span>
</div>
{% endmacro %}
