{% macro pageIndex(label="Refine results") %}
<div class="article-section-nav">
  <h2 class="article-section-nav_title">{{label}}</h2>
  <hr><nav role="navigation">
        <ol class="article-section-nav__menu article-section-nav__menu--push">
                <li>
                    <a href="#a" aria-label="Jump to articles starting with the letter 'A'">A</a>
                </li>
                <li>
                    <a href="#b" aria-label="Jump to articles starting with the letter 'B'">B</a>
                </li>
                <li>
                    <a href="#c" aria-label="Jump to articles starting with the letter 'C'">C</a>
                </li>
                <li>
                    <a href="#d" aria-label="Jump to articles starting with the letter 'D'">D</a>
                </li>
                <li>
                    <a href="#e" aria-label="Jump to articles starting with the letter 'E'">E</a>
                </li>
                <li>
                    <a href="#f" aria-label="Jump to articles starting with the letter 'F'">F</a>
                </li>
                <li>
                    <a href="#g" aria-label="Jump to articles starting with the letter 'G'">G</a>
                </li>
                <li>
                    <a href="#h" aria-label="Jump to articles starting with the letter 'H'">H</a>
                </li>
                <li>
                    <a href="#i" aria-label="Jump to articles starting with the letter 'I'">I</a>
                </li>
                <li class="is-disabled">J</li>
                <li class="is-disabled">K</li>
                <li>
                    <a href="#l" aria-label="Jump to articles starting with the letter 'L'">L</a>
                </li>
                <li>
                    <a href="#m" aria-label="Jump to articles starting with the letter 'M'">M</a>
                </li>
                <li>
                    <a href="#n" aria-label="Jump to articles starting with the letter 'N'">N</a>
                </li>
                <li>
                    <a href="#o" aria-label="Jump to articles starting with the letter 'O'">O</a>
                </li>
                <li>
                    <a href="#p" aria-label="Jump to articles starting with the letter 'P'">P</a>
                </li>
                <li>
                    <a href="#q" aria-label="Jump to articles starting with the letter 'Q'">Q</a>
                </li>
                <li>
                    <a href="#r" aria-label="Jump to articles starting with the letter 'R'">R</a>
                </li>
                <li>
                    <a href="#s" aria-label="Jump to articles starting with the letter 'S'">S</a>
                </li>
                <li>
                    <a href="#t" aria-label="Jump to articles starting with the letter 'T'">T</a>
                </li>
                <li class="is-disabled">U</li>
                <li class="is-disabled">V</li>
                <li class="is-disabled">W</li>
                <li class="is-disabled">X</li>
                <li class="is-disabled">Y</li>
                <li class="is-disabled">Z</li>
        </ol>
    </nav>
</div>
{% endmacro %}