{% macro pageNav(label="Page contents") %}
<div class="article-section-nav">
  <h2 class="article-section-nav_title">{{label}}</h2>
  <hr>
  <nav role="navigation">
    <ol class="article-section-nav_list">
      <li><a href="#">Apples</a></li>
      <li><a href="#">Bananas</a></li>
      <li><a href="#">Oranges</a></li>
      <li><a href="#">Grapes</a></li>
      <li><a href="#">Strawberries</a></li>
    </ol>
  </nav>
</div>
{% endmacro %}